.p-first-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;

  @include mq(sm) {
    height: 300px;
  }
}

.p-first-view {
  &__title {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
  }
}
