.p-recommend-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: inset 0px 10px 25px 5px rgba(0,0,0,0.4);
  color: #fff;
  transition: box-shadow ease-in-out 0.1s;
  &:hover {
    box-shadow: inset 0px 30px 30px 5px rgba(0,0,0,0.4);

  }
  &__text {
    display: inline-flex;
    align-items: center;
    gap: 2px; 
    font-weight: 700;
    font-size: 1rem;
    filter: drop-shadow(1px 1px 2px #222);
    @include mq(sm) {
      font-size: 1.8rem;
    }
  }
  &--tokyo {
    background-image: url("../images/tokyo.jpg");
  }
  &--osaka{
    background-image: url("../images/osaka.jpg");
  }
  &--kyoto {
    background-image: url("../images/kyoto.jpg");
  }
  &--sapporo {
    background-image: url("../images/sapporo.jpg");
  }

}
