.p-reservations-table {
  &__image {
    width: 100px;
  }
}

.p-reservation-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto 1rem;
  max-width: 800px;
  &__text {
    margin-bottom: 0;
  }
}

.p-reservation-link {
  font-weight: 600;
  width: 220px;
  text-align: right;
  &--edit {
    margin-right: 1rem;
    color: $link;
  }
  &--cancel {
    color: $red;
  }
}

.p-reservation-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-gray;
  border-radius: 18px;
  max-width: 800px;
  margin: 0 auto;
  p {
    margin-bottom: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
    gap: 1rem 0;
    @include mq(md) {
      flex-direction: row;
    }
  }
  &__check {
    display: inline-flex;
    p:first-of-type {
      margin-right: 1rem;
    }
  }
  &__price {

    span {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }
  &__image {
    width: 100%;
    transition: all 0.2s;
    border-radius: 0 0 20px 20px;
    @include mq(md) {
      width: 230px;
      border-radius: 0 0 0 20px;
    }
  }
  &__room {
    position: relative;
    &-text {
      max-width: calc(100% - 3rem);
      position: absolute;
      transform: translateX(1.5rem);
      top: 0;
      transition: all 0.2s;
      background-color: rgb(255 255 255 / 0.8);
      padding: 1.5rem;
      height: 100%;
      @include mq(md) {
        max-width: calc(100% - 230px - 1.5rem);
        transform: translateX(254px);
        padding: 0 1.5rem 0 0;
        background: none;
      }
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        @include mq(md) {
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}