.p-reservations {
    &__container {
      margin: 1rem auto 3rem;
    }

    &__no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    }
}

.p-reservation-time {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto 1rem;

  &__text {
    margin-bottom: 0;

    span {
        display: block;

      @include mq(min500) {
        display: inline;
      }
    }
  }
}

.p-reservation-link {
  width: 230px;
  font-weight: 600;
  text-align: right;

  &--edit {
    margin-right: 1rem;
    color: $link;
  }

  &--cancel {
    color: $red;
  }
}

.p-reservation-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid $light-gray;
  border-radius: 18px;

  p {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.5rem;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__check {
    display: inline-flex;

    p:first-of-type {
      margin-right: 1rem;
      }

    span {
      display: block;

      @include mq(min500) {
        display: inline;
      }
    }
  }

  &__price {
    span {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0 0 20px 20px;
    transition: all 0.2s;

    @include mq(md) {
      width: 230px;
      border-radius: 0 0 0 20px;
    }
  }

  &__room {
    position: relative;

    &-text {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: calc(100% - 3rem);
      height: 100%;
      padding: 1.5rem;
      background-color: rgba(255, 255, 255, 80%);
      transition: all 0.2s;
      transform: translateX(1.5rem);

      @include mq(md) {
        max-width: calc(100% - 230px - 1.5rem);
        padding: 0 1.5rem 0 0;
        background: none;
        transform: translateX(254px);
      }

      p {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

        @include mq(md) {
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}

//confirm

.p-reservation-confirm {
  &__container {
    max-width: 600px;
    margin: 0 auto;
  }

  &__value {
    display: flex;
    justify-content: space-between;

    p:first-of-type {
      font-weight: 600;
    }

    &--rate {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
