.c-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;

  @include mq(sm) {
    grid-auto-rows: 220px;
  }

  @include mq(md) {
    grid-auto-rows: 300px;
  }

  @include mq(xl) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
  }
}
